<!DOCTYPE html>
<html lang="en">
<head>
	<title></title><!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet"><!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">

	<%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "applicationa" %>
</head>
<body>
	<div id="hero-image">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 main-menu">
					<h3>fly onward</h3>
					<div id="menu">
						<ul>
							<li>FAQ</li>
							<li>Book Now</li>
							<li>Contact</li>
							<li>How it works</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Rent an onward ticket for for $9.99</h1>
					<h5>The best travel hack for digital nomads and perpetual travelers</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<div id="form">
					<h3>Book your ticket now!</h3>
					<form>
						<div class="form-group">
							<input class="form-control" id="first_name" name="first_name" placeholder="Full Name" type="text">
						</div><select class="form-control" id="electric_bill" name="electric_bill">
							<option selected value="">
								Onward ticket from
							</option>
						</select> <select class="form-control" id="electric_bill" name="electric_bill">
							<option selected value="">
								Desired Date of onward flight
							</option>
						</select> <select class="form-control" id="electric_bill" name="electric_bill">
							<option selected value="">
								Rental Option
							</option>
						</select>
						<div class="form-group">
							<button class="btn btn-submit btn-block">Book Ticket</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="howitworks">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 howwework">
					<h3>How Our Company Name Works</h3>
				</div>
				<div class="col">
					<div class="box" id="box-1">
						<h4>Headline one</h4>
						<p>By booking an onward ticket, you need to provide us with your title, full name, date of your desired onward flight, and of course your departure country. The arrival country is optional; leave it blank and we’ll select a random one for you (recommended)</p>
					</div>
				</div>
				<div class="col">
					<div class="box" id="box-2">
						<h4>Headline two</h4>
						<p>After an order is made, our staff will process the booking with your provided information. An email with your e-ticket (a PDF file) will be sent to you immediately from the airline (not from us). You can print out this ticket. The ticket will come with a “Confirmed” status which means has been paid in full.</p>
					</div>
				</div>
				<div class="col">
					<div class="box" id="box-3">
						<h4>Headline three</h4>
						<p>Depending on your booking option, the ticket will last for exactly 24 hours or 48 hours, so all you need to do is make sure you’re arriving at your destination within 24 hours or 48 hours of booking your onward flight with us.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="faq">
		<div class="row">
			<div class="col-sm-12">
				<h3>FAQ</h3>
				<div class="faq">
					<h3>Why should i use this service?</h3>
					<p>If you’re about to fly into a country with a tourist visa, but you’re not sure how long you want to stay for or where your next destination will be, you should consider using our ticket rental service. Here’s why: without evidence of an onward flight, you could be suspected of planning to overstay your visa. Obviously you’re not going to do that! However, without the onward ticket as proof, you could be denied permission to board your flight or cross the country’s border. Many people in this situation have no choice but to book expensive onward flights to places they didn’t plan on going, at prices they didn’t want to pay, just to show they plan on leaving the country before their visa expires.</p>
				</div>
				<div class="faq">
					<h3>Is it safe and legal?</h3>
					<p>The tickets are legitimate. They are booked and paid for by us. Therefore, you can legally use them as proof of your onward ticket. We don’t allow you to book a flight that departs very soon after your arrival, which means that there is plenty of time for the ticket purchase to be cancelled and you will never need to actually use the ticket.</p>
				</div>
				<div class="faq">
					<h3>Is it safe and legal?</h3>
					<p>The tickets are legitimate. They are booked and paid for by us. Therefore, you can legally use them as proof of your onward ticket. We don’t allow you to book a flight that departs very soon after your arrival, which means that there is plenty of time for the ticket purchase to be cancelled and you will never need to actually use the ticket.</p>
				</div>
				<div class="faq">
					<h3>Is it safe and legal?</h3>
					<p>The tickets are legitimate. They are booked and paid for by us. Therefore, you can legally use them as proof of your onward ticket. We don’t allow you to book a flight that departs very soon after your arrival, which means that there is plenty of time for the ticket purchase to be cancelled and you will never need to actually use the ticket.</p>
				</div>
				<div class="faq">
					<h3>Is it safe and legal?</h3>
					<p>The tickets are legitimate. They are booked and paid for by us. Therefore, you can legally use them as proof of your onward ticket. We don’t allow you to book a flight that departs very soon after your arrival, which means that there is plenty of time for the ticket purchase to be cancelled and you will never need to actually use the ticket.</p>
				</div>
				<div class="faq">
					<h3>Is it safe and legal?</h3>
					<p>The tickets are legitimate. They are booked and paid for by us. Therefore, you can legally use them as proof of your onward ticket. We don’t allow you to book a flight that departs very soon after your arrival, which means that there is plenty of time for the ticket purchase to be cancelled and you will never need to actually use the ticket.</p>
				</div>
				<div class="faq">
					<h3>Is it safe and legal?</h3>
					<p>The tickets are legitimate. They are booked and paid for by us. Therefore, you can legally use them as proof of your onward ticket. We don’t allow you to book a flight that departs very soon after your arrival, which means that there is plenty of time for the ticket purchase to be cancelled and you will never need to actually use the ticket.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="contact">
		<div class="col-sm-6 offset-sm-3">
			<div id="contact-form">
				<h3>Get in touch with us</h3>
				<form>
					<div class="form-group">
						<input class="form-control" id="first_name" name="first_name" placeholder="Full Name" type="text">
					</div>
					<div class="form-group">
						<input class="form-control" id="email" name="email" placeholder="Email" type="text">
					</div>
					<div class="form-group">
						<textarea class="form-control" id="message" name="message" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-submit btn-block">Send Message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class = "col-sm-12">
						<ul>
							<li>Terms of Service</li>
							<li>Privacy Policy</li>
							<li>Contact Us</li>
							<li>Disclaimer</li>
							<li>Refund Policy</li>
							<li>Book Now</li>
						</ul>
				</div>

			</div>
		</div>
	</div>
</body>
</html>